$primary: #219ebc;
$secondary: #8ecae6;
$success: #02fd95;
$info: #26b6d9;
$warning: #fb8500;
$danger: #ff004c;
$light: #e0e8eb;
$dark: #10394d;

$font-size-base: 1.1rem;

@import '../bootstrap/bootstrap.scss';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card {
    @extend .mb-3;
}

.card-title {
    @extend .mt-0;
}

.card .card-title .stretched-link {
    text-decoration: none;
}

.card .card-title .stretched-link:hover {
    text-decoration: underline;
}

.step {
    @extend .mb-3, .row;

    .step-header {
        @extend .col-auto, .mx-3, .text-center, .text-white;
        background-color: $warning;
        border-radius: 100%;
        height: 3.5rem;
        width: 3.5rem;

        i {
            @extend .fs-2;
            line-height: 3.5rem;
        }
    }

    .step-text {
        @extend .col;
    }
}